@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

:root {

  --color-black: #000000;
  --color-white: #fff;

  --container-width-lg: 86%;
  --container-width-md: 90%;
  --container-width-sm: 96%;


  --transition: all 350ms ease;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Nunito Sans", Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100dvh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* background-color: red; */
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}

a {
  color: var(--color-white);
}

section {
  margin: 6.5rem 0 1.5rem 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: var(--transition);
}

.btn__edit {
  background-color: green;
  color: var(--color-white);
}

.btn__delete {
  background-color: coral;
  color: var(--color-white);
}

p {
  font-size: 0.85rem;
}



/*=============== NAVBAR ==============*/

nav {
  display: grid;
  place-items: center;
  height: 4.5rem;
  width: 100dvw;
  background-color: rgba(255, 255, 255, 0.534);
  backdrop-filter: blur(10px);
  border-bottom: 4px solid red;
  position: fixed;
  left: 0;
  top: 0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.menu__toggle-btn {
  display: none;
}


/*=============== HOME PAGE==============*/

.post__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem;
}

.post {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1.1rem;
  color: var(--color-black);
}

.post__img img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.post__title-body {
  margin: 1rem 0;
}

.post__title-body a {
  color: var(--color-black);
}

.post__title-body a h3 {
  margin-bottom: 0.5rem;
}


.author__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.author__avatar img {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;

}

.author__name {
  color: var(--color-black);
}

.author__cat {
  color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.author__post-cat a {
  background-color: rgb(219, 238, 255);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  color: var(--color-black);

}

/*=============== POST DETAILS PAGE ==============*/
.post__details-container {
  padding: 0.5rem 3rem;
  background-color: aliceblue;
  width: 50%;
  color: var(--color-black);
}

.post__details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem;
  margin-bottom: 1.5rem;

}

.post__details-btns {
  display: flex;
  gap: 1.2rem;
}

.post__details-body {
  color: #242424;
  margin: 1rem 0;
}

.post__details-desc p {
  margin: 1rem 0;
  font-size: 1rem;
}







/*=============== ERROR PAGE ==============*/
.error_page-container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.return__home-btn {
  text-align: center;
  margin-bottom: 2.5rem;

}

.return__btn {
  background-color: antiquewhite;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #242424;
  font-weight: 900;
}




/*=============== FOOTER ==============*/
footer {
  text-align: center;
  background-color: rgb(15, 15, 15);
  color: #f3eaea;
  padding: 1.5rem 0 0.5rem 0;
}

.footer__container .footer__categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.footer__categories li {
  background-color: #242424;
  padding: 0.4rem 0.8rem;
  border-radius: 1.5rem;
  transition: var(--transition);
}

.footer__categories li:hover {
  box-shadow: 0 2px 2px rgb(68, 68, 68);
}

.copyright {
  padding-top: 0.7rem;
  border-top: 1px solid gray;
}